# Include ~/.colima/ssh_config

# Host github.com
#   HostName github.com
#   UseKeychain no
#   AddKeysToAgent yes
#   IdentityFile ~/.ssh/id_github

# Host gitlab.com
#   HostName gitlab.com
#   UseKeychain no
#   AddKeysToAgent yes
#   IdentityFile ~/.ssh/id_gitlab
