[user]
    name = __GIT_NAME__
    email = __GIT_EMAIL__

[push]
    default = simple

[core]
    editor = subl -n -w

[color]
    ui = always

[alias]
    co = checkout
    ci = commit
    cm = commit -m
    pr = pull -r
    ps = push
    st = status -s
    df = diff
    lg = log --oneline
