# --- Core apps ---
# rectangle
# zoom
# 1password
# firefox
# dropbox

# --- Device drivers ---
# karabiner-elements
# logi-options-plus
# logitune

# --- Utilities ---
# the-unarchiver
# name-mangler
# appcleaner
# cleanmymac
# coconutbattery
# cleanshot
# virtualbox
# viscosity

# --- Programming ---
# sublime-text
# iterm2
# kaleidoscope
# pycharm-ce
# goland
# webstorm
# rostover
# intellij-idea-ce
# docker
# postman
# insomnia
# rapidapi
# ngrok

# --- Music ---
# spotify
# soundcleod

# --- Audio Tools ---
# native-access
# fission
# audio-hijack
# loopback

# --- Video ---
# vlc
# 4k-video-downloader

# --- Documents & Design ---
# typora
# sip
# obsidian

# --- Fonts ---
# font-open-sans
# font-source-sans-pro
# font-cairo
# font-hack-nerd-font
# font-meslo-for-powerline
# font-meslo-lg-nerd-font
# font-source-code-pro-for-powerline
