# --- Core apps ---
# rectangle
# 1password
# firefox
# dropbox

# --- Device drivers ---
# karabiner-elements
# linearmouse
# logi-options-plus
# logitune

# --- Utilities ---
# cleanshot
# name-mangler
# the-unarchiver

# --- Maintenance ---
# appcleaner
# balenaetcher
# cleanmymac
# coconutbattery

# --- VPN ---
# tailscale
# viscosity

# --- Programming ---
# docker
# goland
# insomnia
# intellij-idea-ce
# iterm2
# kaleidoscope
# ngrok
# postman
# pycharm-ce
# rapidapi
# rostover
# sublime-text
# webstorm

# --- Communication ---
# zoom

# --- Video ---
# 4k-video-downloader+
# vlc

# --- Music ---
# spotify

# --- Audio Tools ---
# audio-hijack
# fission
# loopback
# native-access

# --- Documents & Design ---
# obsidian
# sip
# typora

# --- Fonts ---
# font-cairo
# font-hack-nerd-font
# font-open-sans
# font-source-code-pro-for-powerline
# font-source-sans-pro
# font-meslo-for-powerline
# font-meslo-lg-nerd-font
